/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and general layout */
body {
  font-family: 'Menlo', 'Monaco', monospace;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FBFBF4;
}

/* Header styles */
header {
  background: #F4F4EA;
  padding: 1rem;
  border-bottom: 3px solid #F2F2E7;
  text-align: left;
}

.HeadCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto;
  gap: 0.5em;
  align-items: center;
  flex-wrap: wrap;
}

.Headsection-1,
.Headsection-2,
.Headsection-3,
.Headsection-4

{
  border: 1px solid #35342A;
  padding: 5px;
}

/* HeadTag spans all columns */
.HeadTag {
  grid-column: 1 / -1;
  font-size: 2em;
  font-weight: bold;
  color: #D8DCD2;
  border-bottom: 2px solid #BDC2C6;
  padding-bottom: 0.2em;
  margin-bottom: .3em;
  text-align: center;
}

/* Navigation items */
.file {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

.Modulus {
  display: flex;
  align-items: center;
  justify-content: left;
}



.download {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sample {
  margin: .2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copied {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Arrange navigation items in the grid */
.file {
  grid-column: 1;
  grid-row: 2;
}

.Modulus {
  grid-column: 2;
  grid-row: 2;
}

.eject {
  grid-column: 3;
  grid-row: 2;
}

.download {
  grid-column: 4;
  grid-row: 2;
}

.sample {
  grid-column: 1;
  grid-row: 3;
}

.copied {
  grid-column: 2;
  grid-row: 3;
}

.keypad-container {
  grid-column: 3 / span 2;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* File input styles */
.file label {
  cursor: pointer;
  background-color: #87857B;
  color: white;
  padding: 0.2em 1em;
  border-radius: 2px;
  font-size: 0.9em;
}

.file label:hover {
  background-color: #6c6a63;
}

#imageUpload {
  display: none;
}

/* Modulus input styles */
.Modulus label {
  margin-right: 0.2em;
  font-size: 0.9em;
}

#modulusInput {
  width: 4em;
  color: #35342A;
  margin: 0;
  padding: 2px 4px;
  border: 1px solid #87857B;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

#modulusInput::-webkit-inner-spin-button,
#modulusInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Controls styles */
.controls {
  display: flex;
flex-direction: column;


}
.eject-button {
  padding: 0.2em 1em;
  font-size: 0.8em;
  cursor: pointer;
  border: 1px solid #87857B;
  border-radius: 3px;
  background-color: #FFF;
  color: #903336;
}

.eject-button:hover {
  background-color: #e0e0e0;
}

#downloadJsonButton,
#CopyJsonButton
{
  margin: 5px;
  padding: 0.3em 1em;
  font-size: 0.8em;
  cursor: pointer;
  border: 1px solid #87857B;
  border-radius: 3px;
  background-color: #6c6a63;
}

#downloadJsonButton:hover,
#CopyJsonButton:hover
{
  background-color: #e0e0e0;
}

/* Information styles */
.infoText, .infoText-copy {
  font-size: 0.9em;
}

.infoText-copy {
  font-weight: bold;
  color: #515105;
}

/* Keypad styles */
.keypad {
  display: grid;
  grid-template-columns: repeat(4, 40px);
  grid-gap: 5px;
  justify-content: center;
  margin-bottom: 0.5em;
}

.key {
  width: 40px;
  height: 40px;
  background-color: #87857B;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  font-size: 0.8em;
}

.key.selected {
  background-color: #6c6a63;
}

#applySelectionButton {
  padding: 0.2em 1em;
  font-size: 0.8em;
  cursor: pointer;
  border: 1px solid #87857B;
  border-radius: 3px;
  background-color: #FFF;
}

#applySelectionButton:hover {
  background-color: #e0e0e0;
}

/* Progress bar styles */
.progress-container {
  grid-column: 1 / -1;
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
  text-align: center;
}

.progress-container label {
  margin-bottom: 0.5em;
}

progress {
  width: 80%;
  height: 10px;
  appearance: none;
  border-radius: 5px;
  background-color: #f0f0f0;
}

progress::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: #443E35;
  border-radius: 5px;
}

progress::-moz-progress-bar {
  background-color: #443E35;
  border-radius: 5px;
}

/* Main content area adjustments */
main {
  flex: 1 0 auto;
  padding-bottom: 2.5rem; /* Space for the footer height */
}

/* Main container using grid */
.container {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 0.5rem;
  padding: 2rem;
}

/* Main content section */
.main-content {
  padding: 1rem;
  position: relative;
}

.PictureCont {
  position: relative;
  padding: 10px;
  border: 2px solid #C2C4BB;
  /* Removed fixed height to allow the image to display fully */
  color: #617068;
  overflow: auto;
}

.PictureCont img {
  max-width: 100%;
  height: auto;
}

/* Overlay for selected area */
#selectionOverlay {
  position: absolute;
  border: 3px solid grey; /* Increased border to 3px */
  pointer-events: none;
  display: none; /* Hidden by default */
}

/* side-content styles */
.side-content {
  padding: 1rem;
}

.HexCont {
  padding: 10px;
  border: 2px solid #C2C4BB;
  /* Removed fixed height to allow content to expand */
  color: #617068;
  overflow-y: auto;
}

/* Style for each color block in HexCont */
.HexCont div {
  text-align: center;
  padding: 5px;
  color: #FFF;
  margin-bottom: 2px;
  cursor: pointer;
}

/* Grid view styles */
.grid-view .HexCont {
  display: flex;
  flex-wrap: wrap;
}

.grid-view .HexCont div {
  flex: 0 0 20%;
  margin: 2px;
}

/* Collapsible Footer styles */
footer {
  background: #F4F4EA;
  color: #BDC2C6;
  text-align: left; /* Align the summary to the left */
  padding: 0.5rem;
  font-size: 0.9em;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 3px solid #F2F2E7;
}

footer details {
  cursor: pointer;
}

footer summary {
  outline: none;
}

/* Responsive styles for mobile */
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  header {
    padding: 0.7em;
  }

  .HeadCont {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto auto auto auto;
  }

  .keypad-container {
    grid-column: 1 / -1;
  }

  .progress-container {
    grid-column: 1 / -1;
  }

  .container {
    padding: 0.3em;
    grid-template-columns: 1fr;
  }
}

input, button {
  font-family: inherit;
  font-size: 1em;
}

button {
  cursor: pointer;
  border: 1px solid #87857B;
  border-radius: 3px;
  background-color: #FFF;
  padding: 0.5em 1em;
}

button:hover {
  background-color: #e0e0e0;
}

button:focus {
  outline: none;
}

label {
  font-size: 1em;
  color: #443E35;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
  border-color: #443E35;
}
